extends ../layout

block content
    h1 #{title}
    each user in users
        div(class="centralized row")
            div(class="col-md-6 col-md-offset-4 user-item")
                h4
                ul(class="centralized list-unstyled")
                    li #[span(class="list-values") #{user._id}]
                        hr
                    li Name: #[span(class="list-values") #{user.name.first} #{user.name.last}]
                    li E-mail: #[span(class="list-values") #{user.email}]
                    li Age: #[span(class="list-values") #{user.age}]
                    li Skills:
                        ul
                            each skill in user.skills
                                li
                                    span(class="list-values") #{skill}
                    li Created: #[span(class="list-values") #{user.created}]
                    li Logins:
                        ul
                            each login in user.logins
                                li  
                                    span(class="list-values") At: #{login.at}
                                    span(class="list-values") Minutes: #{login.minutes}
