extends ../layout

block content
    a(class="btn btn-default glyphicon glyphicon-pencil",role='group', href="http://localhost:1234/users/create/")
    //- h1(class="icon-pistol-icon") #{title}
    //- h1= title
    each user in users
        div(id="dialog-form")
        div(class="centralized row")
            div(class="col-md-5 col-md-offset-4 user-item")
                //- h4(class="icon-#{user.brand.toLowerCase()}-logo")
                div(class='btn-group user-btns-box', role='group')
                    a(class="btn btn-default glyphicon glyphicon-pencil",role='group', href="http://localhost:1234/users/modify-form/"+user._id)
                    form(action="http://localhost:1234/users/remove",method="POST")
                        input(type="hidden", name='_id', value=user._id)
                        button(class="btn btn-default glyphicon glyphicon-trash", role='group')

                ul(class="centralized list-unstyled")
                    li #[span(class="list-values") #{user._id}]
                        hr
                    li Created: #[span(class="list-values") #{user.created}]
                    li Name: #[span(class="list-values") #{user.name.first} #{user.name.last}]
                    li E-mail: #[span(class="list-values") #{user.email}]
                    li Age: #[span(class="list-values") #{user.age}]
                    li Skills:
                        ul
                            each skill in user.skills
                                li
                                    span(class="list-values") #{skill}
                    li Logins:
                        ul
                            each login in user.logins
                                li
                                    span(class="list-values") #{login.at} #{login.minutes}

    script(type="text/javascript", src="/javascripts/users/forms.js")
